# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Hedera
HEDERA_ACCOUNT_ID=
HEDERA_PRIVATE_KEY=
HEDERA_NETWORK=testnet

# World
WORLD_APP_ID=
WORLD_ACTION_ID=

# Dynamic (Wallet Connection)
NEXT_PUBLIC_DYNAMIC_ENV_ID=
